* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #0a1128;
}

h1, h2 {
  font-family: "Anton SC", sans-serif;
}

h2 {
  font-weight: normal;
}

img {
  max-width: 100%;
  border-radius: 8px;
  width: 600px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 .5em;
}

#btn-container {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-color-white {
  color: #ffffff;
}

#btn-restart,
#btn-submit,
.btn-difficulty,
#next-question-btn
{
  display: inline-block;
  border: none;
  border-radius: 5px;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
}

#btn-restart,
#btn-submit,
#next-question-btn {
  margin: 1.5em 0;
}

#btn-restart,
#btn-submit {
  background-color: #ffffff;
  color: #4169e1;
  padding: 1em 3em;
}

#btn-submit:hover,
#btn-restart:hover {
  background-color: #191970;
  color: #87CEEB;
}

.btn-difficulty {
  padding: 1em;
  margin-right: 1em;
}

#beginner-btn {
  background-color: #32cd32;
}

#beginner-btn:hover,
#beginner-btn:focus {
  background-color: #2ca02c;
}

#intermediate-btn {
  background-color: #ffa500;
}

#intermediate-btn:hover,
#intermediate-btn:focus {
  background-color: #e69500;
}

#advanced-btn {
  background-color: #ff4500;
}

#advanced-btn:hover,
#advanced-btn:focus {
  background-color: #cc3700;
}

#next-question-btn {
  background-color: #00bfff;
  padding: 1em;
}

#next-question-btn:hover,
#next-question-btn:focus {
  background-color: #009acd;
}

/* Header */
.main-title {
  color: #ff6b00;
  font-size: 3rem;
  margin-bottom: 0.2em;
}

.description {
  max-width: 400px;
  margin: 0 auto 3em auto;
  color: #d3d3d3;
}

/* Section: Quiz */
#quiz {
  max-width: 800px;
  margin: 0 auto;
}

#error-message {
  color: #ff4c4c;
}

#feedback {
  margin-top: 0;
}

#question {
  font-size: 1.5rem;
  max-width: 400px;
  margin: .5em auto;
}

.input-wrapper {
  margin-bottom: 1em;
}

.answer-choice {
  color: #00bfff;
}

#question-tracker {
  color: #d3d3d3;
}

@media (max-width: 600px) {
  .btn-difficulty {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    margin-right: 0;
    width: 170px;
  }
}